<section class="vbox" ng-controller="ArtistController as vm">
    <header class="bg-white-only header header-md navbar navbar-fixed-top-xs">
        <div class="row">
            <div class="col-md-6">
                   <a class="btn btn-default uppercase bold" href="#!/search">Back to search</a>
            </div>
        </div>
    </header> <section>
        <section class="hbox stretch">
            <section id="content">
                <section class="hbox stretch">
                            <section class="scrollable padder-lg w-f-md">
                               <div class="row row-sm">
                                   <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="album in vm.albums" ng-animate="'slide-down'">
                                        <div class="item">
                                            <div class="pos-rlt">
                                                <span class="image-link" preload-bg-image='{{album.image}}'></span>
                                            </div>
                                            <div class="padder-v">
                                                <a class="text-ellipsis">{{album.name}}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <button ng-click="vm.getAlbums()" class="btn btn-default center-block" ng-if="vm.albums.length>0 && vm.loadedAlbumsCount < vm.totalAlbums">Load More</button>
                                </div>
                                <div class="row row-sm" ng-if="vm.loadingAlbums"><div class="col-md-12 text-center"><i class="fa fa-spinner fa-spin fa-3x"></i></div></div>

                    </section>
                </section>
            </section>
        </section>
    </section>
</section>